/* Blog Page */

h1 {
    text-align: center;
}

.blog-post-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin: 60px 300px;
  justify-content: space-evenly;
}

.post-cards {
  max-width: 450px;
  margin: 25px;
  border: 1px solid #0b3b59;
}

.post img {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.button {
    text-align: center;
    margin-top: 25px;
}

.more-posts {
    padding: 10px;
    font-size: 18px;
}



/* Blog Posts Specifics*/

.blog-posts {
    max-width: 800px;
    margin: auto;
}

.post-content {
    margin-top: 30px;
}

.wp-block-image img {
    max-width: 100px;
    height: auto;
}

