/* Blog Page */

h1 {
    text-align: center;
    margin: 50px;
}

.all-blog-posts,
.blog-posts {
    margin: 40px auto;
}

.blog-post-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin: 45px 300px;
  justify-content: space-evenly;
}

.post-cards {
  max-width: 450px;
  margin: 25px;
  border-color:#0b3b59;
  border-style: double;
}

h3 {
    text-align: center;
}

.post-cards img {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.button {
    text-align: center;
    margin-top: 25px;
}

.more-posts {
    padding: 10px;
    font-size: 18px;
}



/* Blog Posts Specifics*/

.blog-posts {
    max-width: 1000px;
}

.post img {
    width: 100%;
    object-fit: cover;
}

.post-content {
    width: 700px;
    margin: auto;
}

p,
h4,
ul {
    margin-top: 30px;
}

h2 {
    text-align: center;
    margin: 50px 0px;
    font-size: 2em;
    font-weight: normal;
}

h4 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 50px;
}

ul {
    padding-inline-start: 18px;
}

.img-column {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
}

.caption {
    margin: 0;
}

.img-column img {
    width: 230px;
    height: 275px;
}

.quote-container {
    border-style: double;
    border-color: #0b3b59;
    padding: 20px 0px;
    text-align: center;
}

.quote {
    font-weight: bold;
}

.author {
    font-style: italic;
}




