h1 {
    text-align: center;
}

.blog-post-list {
    margin: 0px auto;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.post {
    border: 1px solid #0b3b59;
}

/* Blog Posts Specifics*/

.blog-posts-specifics {
    max-width: 500px;
}

.wp-block-image img {
    max-width: 100px;
    height: auto;
}