
main {
  margin: 0px 30px;
}

.contact p {
  text-align: center;
}

/* FORM */

input,
select,
textarea {
  border: 1px solid #0b3b59;
  border-radius: 5px;
  padding: 10px;
}

label {
  margin: 25px 0px 0px 0px;
}

.error {
  margin: 0px 0px 30px 0px;
  color: red;
  display: none;
}

.contact-form,
.qa {
  text-align: left;
  margin: auto;
  max-width: 500px;
}

.contact-form > * {
  display: flex;
  flex-direction: column;
}

.button {
  text-align: center;
  margin-top: 25px;
}

.submit-button {
  border: solid 2px #0b3b59;
  color: #0b3b59;
  font-family: "Catamaran", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
}

.validation-message {
  margin: 30px;
  text-align: center;
  color: black;
}

/* Q&A*/

.qa h2 {
  text-align: center;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
