body {
    height: 100%;
    /* background-image: url("/img/background_copy.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-menu.active {
    margin-right: 5px;
}

/* main {
    text-align: center;
} */

.main-content {
    padding: 0px 15px;
    /* text-align: end; */
}


/* IMG & QUOTE */

.img-quote-container {
    background-image: url(/img/quote_photo.jpg);
    background-size: cover;
    min-height: 200px;
    position: relative;
    background-position-x: 35%;
  }

  .img-quote-containe .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .overlay {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 71, 94, 0.5);
  }
  
  .img-quote {
    color: #fff;
    margin: 25px;
    font-family: 'Grape Nuts';
    text-align: center;
    font-size: 1.5em;
  }

  .quote-author {
      font-size: 0.7em;
  }


/* SLIDER */

.text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.main-content a {
    color: black;
    font-size: 0.8em;
}

.slider-container {
    position: relative;
    border-color:#0b3b59;
    border-style: double;
    background-color: white;
    margin: 0 10px;
    text-align: center;
}


.slider-text p {
    margin: 10px 5px;
    display: none;
}

.slider-text a {
    font-style: italic;
}

.title {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: white;
    text-decoration: underline;
    font-style: normal;
}

.slide-card img {
    max-width: 100%;
    height: auto;
}

.slider-buttons {
    margin: 20px auto;
    text-align: center;
}

/* .prev {
    display: none;
} */

/* ABOUT ME*/

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me p {
    flex: 40%;
    text-align: center;
    margin-bottom: 25px;
}

.about-me img {
    border-radius: 50%;
    width: 30%;
}

h3 {
    font-family: "Kalam";
    font-size: 1.5em;
    margin-bottom: 0;
}