body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    padding: 0px 15px;
}

/* IMG & QUOTE */

.img-quote-container {
    background-image: url(/img/quote_photo.jpg);
    background-size: cover;
    min-height: 200px;
    position: relative;
    background-position-x: 35%;
  }

  .img-quote-containe .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .overlay {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 71, 94, 0.5);
  }
  
  .img-quote {
    color: #fff;
    margin: 25px;
    font-family: "Grape Nuts", "Catamaran", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-size: 1.5em;
  }

  .quote-author {
      font-size: 0.7em;
  }


/* SLIDER */

.text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.main-content a {
    color: black;
    font-size: 0.8em;
}

.slider-container {
    position: relative;
    border: solid 1px black;
    background-color: white;
    margin: 0 10px;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(152 152 152);
    flex-direction: column;
}

.slider-text p {
    margin: 10px 5px;
}

.slider-text a {
    font-style: italic;
}

.slider-text h2 {
    font-family: "Catamaran", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Sans", Arial, sans-serif;
}

.title {
    font-size: 1.5em;
    font-style: normal;
    margin-top: 0;
}

.slide-card img {
    max-width: 100%;
    height: auto;
    display: block;
}

.slider-buttons {
    margin: 20px auto;
    text-align: center;
}

.next,
.prev {
    background-color: white;
    padding: 5px;
    border: 2px solid black;
}

.next:disabled,
.prev:disabled {
    background-color: white;
    border: 2px solid #D3D3D3;
    cursor: default;
}

.fa-angles-right,
.fa-angles-left {
    font-size: 20px;
    color: black
}


/* ABOUT ME*/

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me p {
    flex: 40%;
    text-align: center;
    margin: 0px 30px;
}

.about-me img {
    border-radius: 50%;
    width: 60%;
}

h3 {
    font-family: "Kalam", "Catamaran", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Sans", Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
}

.about-me a {
    color: black;
    font-style: italic;
    margin-bottom: 25px;
    font-size: 00.8em;
}
