@media only screen and (min-width: 670px) {

    header {
        flex-direction: column;
        margin-bottom: 10px;
    }
  
    .hamburger {
        display: none;
      }

    .nav-menu {
        display: flex;
        flex-direction: row;
        position: unset;
        background-color: rgba(0,0,0,0);
    }

    .on-page {
        text-decoration: underline;
      }

      .logo {
        max-width: 200px;
        margin-top: 20px;
      }

}