@media only screen and (min-width: 670px) {

    /* HEADER */

    header {
        flex-direction: column;
        /* margin-bottom: 10px; */
        padding: 25px 15px 0px 15px; 
        border-bottom: 2px solid #0b3b59;;
    }
  
    .hamburger {
        display: none;
      }

    .nav-menu {
        display: flex;
        flex-direction: row;
        position: unset;
        background-color: rgba(0,0,0,0);
        padding: 0;
    }

    .on-page {
        text-decoration: underline;
      }

    .logo {
        font-size: 5em;
        max-width: 200px;
        margin-top: 20px;
    }

    nav li {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    h1 {
        margin: 40px;
        font-size: 2em;
      }

    /* INDEX */

    .img-quote-container {
        min-height: 500px;
    }

    .img-quote-container .overlay {
        justify-content: center;
    }

    .img-quote p {
        font-size: 1.7em;
    }

    .slider-container {
        border-color:#0b3b59;
        border-style: double;
    }

    .slide-card {
        display: flex;
        align-items: center;
    }

    .slide-card .slider-img {
        flex: 60%;
        margin: 0;
    }

    .slide-card .slider-text {
        flex: 40%;
        margin: 0px 30px;
    }

    .slider-text p {
        margin-bottom: 30px;
        font-size: 1.2em;
        display: block;
    }

    .title {
        position: unset;
        transform: none;
        color: black;
        margin-bottom: 30px;
        font-size: 2em;
    }

    .about-me {
        margin: 0 120px;
    }

    .about-me a {
        margin: 25px 0;
    }


    /* BLOG LIST & POSTS*/

    .blog-post-list {
        display: flex;
        flex-wrap: wrap;
        /* margin: 45px 300px; */
        justify-content: space-evenly;
    }

    .img-column {
        display: flex;
        justify-content: space-between;
    }

    .img-column img {
        width: 230px;
    }

    .modal img {
        width: 50%;
    }

    .post-content {
        width: 715px;
        margin: auto;
    }

    .quote-container {
        padding: 10px;
    }

    /* ABOUT ME */

    .about-me-main,
    .map {
        max-width: 50%;
        margin: 0 auto;
    }

    .map h2,
    .next h2 {
        margin-top: 50px;
    }

    iframe {
        height: 400px;
    }

}    


@media only screen and (min-width: 900px) {
    .img-quote-container {
        min-height: 550px;
    }

    .img-quote p {
        font-size: 2em;
    }

    .slider-container {
        margin: 0px 50px;
    }

    .about-me {
        margin: 0 220px;
    }

    .about-me img {
        width: 40%;
    }

    .modal img {
        width: 30%;
    }
}

@media only screen and (min-width: 1300px) {
    .slider-container {
        margin: 0px 220px;
    }
    
    .blog-post-list {
        margin: auto 100px;
    }

    .post-cards {
        min-width: 500px;
    }

    .post-cards img {
        max-height: none;
    }

    .img-me {
        max-width: 40%;
        margin: 20px auto;
    }
}