@media only screen and (min-width: 670px) {

    /* HEADER */

    header {
        flex-direction: column;
        /* margin-bottom: 10px; */
        padding: 25px 15px 0px 15px;
        border-bottom: 2px solid #0b3b59;;
    }
  
    .hamburger {
        display: none;
      }

    .nav-menu {
        display: flex;
        flex-direction: row;
        position: unset;
        background-color: rgba(0,0,0,0);
    }

    .on-page {
        text-decoration: underline;
      }

    .logo {
        max-width: 200px;
        margin-top: 20px;
    }

    nav a {
        font-weight: bold;
    }

    nav li {
        font-size: 1.3em;
    }

    /* INDEX */

    .img-quote-container {
        min-height: 500px;
    }

    .img-quote-container .overlay {
        justify-content: center;
    }

    .img-quote p {
        font-size: 1.7em;
    }

    .slider-container {
        margin-top: 50px;
    }

    .slide-card img {
        max-width: 70%;
    }

    /* BLOG LIST & POSTS*/

    .blog-post-list {
        display: flex;
        flex-wrap: wrap;
        /* margin: 45px 300px; */
        justify-content: space-evenly;
    }

    .img-column {
        display: flex;
        justify-content: space-between;
    }

    .img-column img {
        width: 230px;
    }

    .post-content {
        width: 715px;
        margin: auto;
    }

    .quote-container {
        padding: 10px;
    }

}    


@media only screen and (min-width: 900px) {
    .img-quote-container {
        min-height: 550px;
    }

    .img-quote p {
        font-size: 2em;
    }
}