@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

body {
    font-family: "Catamaran", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    margin: 0px;
    background-color: #fefff6;
  }

  button:hover {
    cursor: pointer;
  }

   /* LOADER */

  .loader>span {
    position: relative;
    margin: 0 5px;
  }

  .loader {
      align-items: center;
  }

  .loading {
      animation: anim 1s linear 0s infinite;
      font-size: 20px;
  }
  
  @keyframes anim {
    0% {
      left: 0;
    }
  
    50% {
      left: 15px;
    }

    100% {
      left: 0px;
    }
  }

  /* HEADER */

  header {
    background-image: url(/img/background_copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid black;
  }

  .logo {
    font-size: 2em;
    text-decoration: none;
    font-family: 'Amatic SC';
    font-weight: bolder;
    color: #00008b;
  }

  .fa-earth-americas {
    font-size: 1em;
    color: #00008b
  }

  .fa-earth-americas:hover {
    color: #228B22;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hamburger {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #00008b;
  }

  .fa-bars {
    color: #00008b;
    font-size: 20px;
  }

.nav-menu {
    position: fixed;
    right: -115%;
    top: -35px;
    flex-direction: column;
    background-color: #008C8B;
    text-align: center;
}

.nav-menu.active {
    /* left: 0; */
    right: 0px;
    padding-left: 0px;
    z-index: 1;
    width: unset;
    margin-right: 5px;
}

  nav ul {
    margin-top: 40px;
    list-style-type: none;
  }
  
  nav li {
    padding: 5px 10px;
  }

  nav a {
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
    font-family: "Kalam";
  }

  nav a:hover {
    color: #00008b;
  }

  .close-nav {
    background-color: #fefff6;
    border: none;
  }

  /* MAIN */

  main {
    min-height: 1000px;
  }

  h1 {
    text-align: center;
    margin: 15px;
    font-family: 'Kalam';
    font-size: 1.5em;
  }

  h2 {
    font-family: 'Kalam';
  }

  /* FOOTER */

footer {
  background-color: #008C8B;
  padding: 15px;
  margin-top: 50px;
}

.footer-info {
  text-align: center;
}

.content-list a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "Kalam";
  font-weight: bold;
  margin: 0px 10px;
}

.social-media {
  font-size: 30px;
  margin-top: 20px;
}

.social-media > * {
  margin-right: 10px;
}

.copyright {
  text-align: center;
}

  
  